.containerQuemSomos {
   // border: solid red;
    height: 100vh;
    background-image: url('../../assets/backgroundQuemSomos.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.textoQuemSomos {
  //  border: solid green;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        color: #205691;
        font-size: 2.3rem;
        width: 80%;
    }

    p {
        font-size: 1.2rem;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
    .containerQuemSomos {
        background-image: none;
        height: 85vh;
    }

    .textoQuemSomos {
       // border: solid red;
        width: 100%;
        text-align: center;
        height: 80vh;

        h2 {
            text-align: center;
          //  border: solid purple;
            width: 100%;
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }

}