.boxTituloAcoes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;

    h2 {
        color: #205691;
        font-size: 3.5rem;
    }

    p {
       // border: solid;
        width: 55%;
        text-align: center;
    }
}

.containerCardsDeAcoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardsDeAcoes {
    //border: solid purple;
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.2rem;

    img {
        height: 20vh;

    }

    h2 {
        color: #122F97;
        font-size: 1.5rem;
    }

    p {
        text-align: center;
        width: 70%;
    }

    button {
        background-color: #205691;
        color: #ffffff;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
    .boxTituloAcoes {
       // border: solid red;
        height: 30vh;
        text-align: center;

        h2 {
            font-size: 2rem;
        }

        p {
            font-size: 0.9rem;
            width: 80%;
    }
}

    .containerCardsDeAcoes {
      //  border: solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cardsDeAcoes {
       // border: solid purple;
        width: 90%;
        height: 60vh;

        h2 {
            font-size: 1.9rem;
        }

        p {
          //  border: solid red;
            width: 90%;
            font-size: 1rem;
        }
        
        button {
            font-size: 1.2rem;
            padding: 1rem 2rem;
    
        }
    
        
    }

}