.containerTelaPerfil {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  article {
    border: solid #EFEEEA;
    border-radius: 16px;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    img {
      height: 40vh;
      border-radius: 100%;
      border: solid #00AAFF 5px;
    }
  }
}

.cardInfo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;

  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #278733;
  }

  .paragrafoSobreMim {
    text-align: center;
    width: 80%;
  }
}

address {
  display: flex;
  justify-content: space-between;
  width: 60%;

  p {
    font-size: 0.85rem;
  }
}

.listaInteresses {
  width: 70%;
  display: flex;
  justify-content: space-evenly;

  li {
    color: #278733;
    font-size: 0.82rem;
    font-weight: 600;

    background-color: #D4E7D6;
    padding: 0.8rem;
    border-radius: 10px;
  }

}

@media (min-width: 201px) and (max-width: 500px) {

    .containerTelaPerfil {
      

      article {
      // border: solid purple;
       display: flex;
       flex-direction: column;
       height: 90vh;
      
      img {
        height: 30vh;
        border-radius: 100%;
        border: solid #00AAFF 5px;
      }
    }
  }

  .cardInfo {
  //  border: solid red;
    width: 100%;
    height: 60vh;

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1rem;
    }

    .paragrafoSobreMim {
       font-size: 1rem;
    }
  }
 
  address {
   // border: solid green;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .listaInteresses {
   // border: solid blue;
    width: 100%;

    li {
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    color: #278733;
    font-size: 0.5rem;

    background-color: #D4E7D6;
    padding: 0.6rem;
    border-radius: 50px;
    }
  }

}