.containerTelaInicial {
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   div {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    color: #205691;

    h1 {
      font-size: 5rem;
      
    }

    p {
      font-size: 1.4rem;
    }

   }
}