.containerTelaInicial {
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   div {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    color: #205691;

    h1 {
      font-size: 5rem;
      
    }

    p {
      font-size: 1.4rem;
    }

   }
}

@media (min-width: 201px) and (max-width: 500px) {
  .containerTelaInicial {
    display: flex;
    flex-direction: column;

    div {
     // border: solid red;
      width: 90%;
      height: 40vh;
      text-align: center;
      align-items: center;

      h1 {
       // border: solid;
        font-size: 2.5rem;
      }

      p {
        font-size: 1rem;
      }
    }

    img { 
      width: 75%;
      border-radius: 100%;
    }
  }
}