footer {
    height: 20vh;
    background-color: #205691;
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 16%;
        color: #ffffff;
    }

    p {
        color: #ffffff;
        width: 38%;
        text-align: center;
    }

    nav {
        width: 15%;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 201px) and (max-width: 500px) {
    
    footer {
        height: 30vh;
        display: flex;
        flex-direction: column-reverse;

        div {
        //  border: solid green;
          width: 40%;

          img {
            width: 30%;
          }
        }

        p {
          font-size: 0.7rem;
          width: 90%;
        }

        nav {
         // border: solid red;
          width: 60%;

          img {
            width: 15%;
          }
        }
    }
}